# Dependency directories
node_modules/

# Built output
dist/

# Environment files
.env

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Jest coverage reports
coverage/